@import '../fonts/formular/stylesheet.css';
html {
  font-size: 16px;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
}

a,
button,
input,
textarea {
  font-family: "Formular", sans-serif;
}

.container-m {
  max-width: 1372px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tariffs-main {
  overflow: hidden;
}

.tariffs-banner {
  position: relative;
  overflow: hidden;
  background: url(../assets/tariffs-banner-snow.png) top left/cover no-repeat;
  background-color: #cedfff;
}
@media (max-width: 1400px) {
  .tariffs-banner {
    position: static;
  }
}
@media (max-width: 1400px) {
  .tariffs-banner .container-m {
    position: relative;
  }
}
.tariffs-banner__title {
  position: relative;
  margin: 0;
  padding: 169px 0 166px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 98px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000;
}
@media (max-width: 768px) {
  .tariffs-banner__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 60px 0 40px;
    font-size: 82px;
  }
}
@media (max-width: 576px) {
  .tariffs-banner__title {
    font-size: 42px;
  }
}
.tariffs-banner__title span {
  font-size: 101px;
}
@media (max-width: 768px) {
  .tariffs-banner__title span {
    font-size: 84px;
  }
}
@media (max-width: 576px) {
  .tariffs-banner__title span {
    font-size: 42px;
  }
}
.tariffs-banner__figure {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  margin: 0;
  aspect-ratio: 1022/561;
}
@media (max-width: 1400px) {
  .tariffs-banner__figure {
    left: 480px;
    right: auto;
  }
}
@media (max-width: 992px) {
  .tariffs-banner__figure {
    position: static;
    margin: 0 -20px;
  }
}
@media (max-width: 768px) {
  .tariffs-banner__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    aspect-ratio: auto;
  }
}
.tariffs-banner__figure-image {
  display: block;
  max-width: 100%;
  height: 100%;
  width: auto;
}
.tariffs-banner__figure-image_desktop {
  display: block;
}
@media (max-width: 768px) {
  .tariffs-banner__figure-image_desktop {
    display: none;
  }
}
.tariffs-banner__figure-image_mobile {
  display: none;
}
@media (max-width: 768px) {
  .tariffs-banner__figure-image_mobile {
    display: block;
    width: 100%;
    height: auto;
  }
}

.tariffs {
  padding: 78px 0 58px;
}
@media (max-width: 992px) {
  .tariffs {
    padding: 40px 0 66px;
  }
}
@media (max-width: 768px) {
  .tariffs {
    padding: 32px 0 66px;
  }
}
.tariffs__title {
  margin: 0 0 40px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 51px;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
}
@media (max-width: 992px) {
  .tariffs__title {
    margin-bottom: 32px;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .tariffs__title {
    margin-bottom: 21px;
    font-size: 32px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .tariffs__title {
    font-size: 18px;
  }
}
.tariffs__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px 64px;
  margin: 0 0 45px;
}
@media (max-width: 992px) {
  .tariffs__toggler {
    gap: 16px;
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  .tariffs__toggler {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 9px;
    max-width: 100%;
    overflow: auto;
    padding: 0 20px 10px;
    margin: 0 -20px 14px;
    margin-bottom: 14px;
  }
}
.tariffs__toggler-button {
  position: relative;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 194px;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #4c7bd1;
  border: 3px solid #4c7bd1;
  border-radius: 18px;
  background-color: #ffffff;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .tariffs__toggler-button {
    min-width: 136px;
    font-size: 16px;
    border-width: 2px;
  }
}
@media (max-width: 576px) {
  .tariffs__toggler-button {
    padding: 8px 24px;
  }
}
.tariffs__toggler-button::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 5px;
  border-radius: 6px;
  background-color: #4c7bd1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 768px) {
  .tariffs__toggler-button::before {
    top: calc(100% + 8px);
    height: 4px;
  }
}
.tariffs__toggler-button:hover::before {
  opacity: 1;
}
.tariffs__toggler-button.active {
  color: #ffffff;
  background-color: #4c7bd1;
}
.tariffs__toggler-button.active::before {
  opacity: 1;
}
.tariffs__cards {
  margin: 0 0 50px;
}
@media (max-width: 992px) {
  .tariffs__cards {
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .tariffs__cards {
    margin-bottom: 0;
  }
}
.tariffs__cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
  width: 100%;
  display: none;
}
@media (max-width: 992px) {
  .tariffs__cards-item {
    gap: 24px 12px;
  }
}
.tariffs__cards-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tariffs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-height: 492px;
  max-width: calc(50% - 40px);
  width: 416px;
  padding: 80px 36px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #4c7bd1;
  border-radius: 38px;
  background: url(../assets/tariffs-card-bg.svg) center/cover no-repeat;
}
@media (max-width: 992px) {
  .tariffs__card {
    max-width: calc(50% - 12px);
    padding: 64px 24px 32px;
    border-radius: 24px;
  }
}
@media (max-width: 768px) {
  .tariffs__card {
    min-height: 324px;
    padding: 54px 24px 20px;
  }
}
@media (max-width: 576px) {
  .tariffs__card {
    max-width: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.tariffs__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 900;
  font-size: 51px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 992px) {
  .tariffs__card-title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .tariffs__card-title {
    font-size: 34px;
  }
}
.tariffs__card-description {
  max-width: 196px;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: -0.02em;
  color: #fff;
}
@media (max-width: 768px) {
  .tariffs__card-description {
    width: 50%;
    font-size: 12px;
  }
}
.tariffs__card-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.tariffs__card-buy-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 100%;
  padding: 11px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 19px;
  background-color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .tariffs__card-buy-button {
    padding: 12px 20px;
    border-radius: 12px;
  }
}
@media (max-width: 768px) {
  .tariffs__card-buy-button {
    padding: 8px 16px;
  }
}
.tariffs__card-buy-button:hover {
  background-color: #009ffe;
}
.tariffs__card-buy-button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 23px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0077be;
  pointer-events: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: inherit;
          transition-timing-function: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}
@media (max-width: 992px) {
  .tariffs__card-buy-button-text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .tariffs__card-buy-button-text {
    font-size: 15px;
  }
}
.tariffs__card-buy-button-text::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 38px;
  aspect-ratio: 1/1;
  background: url(../assets/shopping-cart-icon.svg) center/cover no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-timing-function: inherit;
          transition-timing-function: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}
@media (max-width: 992px) {
  .tariffs__card-buy-button-text::before {
    width: 28px;
  }
}
@media (max-width: 768px) {
  .tariffs__card-buy-button-text::before {
    width: 26px;
  }
}
.tariffs__card-buy-button:hover .tariffs__card-buy-button-text {
  color: #ffffff;
}
.tariffs__card-buy-button:hover .tariffs__card-buy-button-text::before {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.tariffs__card-buy-button-price {
  font-weight: 400;
  font-size: 23px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #282828;
  pointer-events: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: inherit;
          transition-timing-function: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}
@media (max-width: 992px) {
  .tariffs__card-buy-button-price {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .tariffs__card-buy-button-price {
    font-size: 15px;
  }
}
.tariffs__card-buy-button:hover .tariffs__card-buy-button-price {
  color: #ffffff;
}
.tariffs__disclaimer {
  max-width: 1061px;
  margin: 0 auto;
  padding: 23px 38px;
  font-weight: 400;
  font-size: 19px;
  line-height: 131%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
  border: 2px solid #8dd1ff;
  border-radius: 15px;
}
@media (max-width: 992px) {
  .tariffs__disclaimer {
    padding: 24px 16px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .tariffs__disclaimer {
    display: none;
  }
}
.tariffs__disclaimer b {
  font-weight: 700;
}
.tariffs__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.tariffs__modal.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}
.tariffs__modal-body {
  position: relative;
  max-height: calc(100dvh - 40px);
  max-width: calc(100dvw - 30px);
  width: 720px;
  padding: 32px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 28px;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
@media (max-width: 768px) {
  .tariffs__modal-body {
    padding: 12px;
    border-radius: 16px;
  }
}
@media (max-width: 576px) {
  .tariffs__modal-body {
    padding: 48px 16px 24px;
    border: 1px solid #c8d6f1;
    border-radius: 20px;
    background-color: #f4f9ff;
  }
}
.tariffs__modal.active .tariffs__modal-body {
  opacity: 1;
}
.tariffs__modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: inline-block;
  width: 24px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  outline-color: #c0e5ff;
  background: url(../assets/close.svg) center/cover no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .tariffs__modal-close {
    top: 14px;
    right: 14px;
    width: 20px;
  }
}
@media (max-width: 576px) {
  .tariffs__modal-close {
    border-radius: 4px;
    background-size: 14px;
    background-color: #c0e5ff;
  }
}
.tariffs__modal-wrapper {
  padding: 40px 24px;
  border-radius: 28px;
  background: rgba(192, 229, 255, 0.3);
}
@media (max-width: 768px) {
  .tariffs__modal-wrapper {
    padding: 24px 12px;
    border-radius: 16px;
  }
}
@media (max-width: 576px) {
  .tariffs__modal-wrapper {
    padding: 0;
    background-color: inherit;
  }
}
.tariffs__modal-content {
  max-height: calc(100dvh - 184px);
  overflow: auto;
  scrollbar-width: thin;
  color: black;
  scrollbar-color: rgba(192, 229, 255, 0.3) rgba(255, 255, 255, 0);
}
@media (max-width: 768px) {
  .tariffs__modal-content {
    max-height: calc(100dvh - 114px);
  }
}
.tariffs__modal-main-info {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 26px;
  padding: 13px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 131%;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
  border: 1px solid #4c7bd1;
  border-radius: 10px;
  background-color: #d9e9fe;
}
@media (max-width: 576px) {
  .tariffs__modal-main-info {
    padding: 6px 16px;
    margin: 0 0 16px;
    font-size: 12px;
  }
}
.tariffs__modal-main-price {
  display: block;
  min-width: 310px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 18px;
  padding: 13px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 54px;
  letter-spacing: -0.02em;
  color: #4c7bd1;
  text-align: center;
  border-radius: 13px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .tariffs__modal-main-price {
    min-width: 198px;
    margin-bottom: 12px;
    padding: 8px 24px;
    font-size: 34px;
    border-radius: 8px;
  }
}
.tariffs__modal-main-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  margin: 0 0 24px;
}
.tariffs__modal-main-counter-plus, .tariffs__modal-main-counter-minus {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 28px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (max-width: 576px) {
  .tariffs__modal-main-counter-plus, .tariffs__modal-main-counter-minus {
    width: 18px;
  }
}
.tariffs__modal-main-counter-minus {
  background-image: url(../assets/button-minus.svg);
}
.tariffs__modal-main-counter-plus {
  background-image: url(../assets/button-plus.svg);
}
.tariffs__modal-main-counter-value {
  min-width: 120px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
}
@media (max-width: 576px) {
  .tariffs__modal-main-counter-value {
    min-width: 84px;
    font-size: 9px;
  }
}
.tariffs__modal-main-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 378px;
  margin: 0 auto 22px;
  border-radius: 18px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .tariffs__modal-main-toggler {
    margin-bottom: 12px;
  }
}
.tariffs__modal-main-toggler-button {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 9px 12px;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 131%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #797979;
  border: none;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .tariffs__modal-main-toggler-button {
    padding: 6px 12px;
    font-size: 9px;
  }
}
.tariffs__modal-main-toggler-button.active {
  color: #ffffff;
  border-radius: 18px;
  background-color: #153b84;
}
.tariffs__modal-main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  max-width: 378px;
  margin: 0 auto;
  display: none;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form {
    gap: 7px;
  }
}
.tariffs__modal-main-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tariffs__modal-main-form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-control {
    gap: 2px;
  }
}
.tariffs__modal-main-form-control-text {
  display: inline-block;
  padding-left: 12px;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 131%;
  letter-spacing: -0.02em;
  color: #000;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-control-text {
    padding-left: 12px;
    font-size: 12px;
  }
}
.tariffs__modal-main-form-control-input {
  display: inline-block;
  width: 100%;
  padding: 9px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #000000;
  border: 1px solid #8dd1ff;
  border-radius: 5px;
  outline-color: #8dd1ff;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-control-input {
    padding: 7px 8px;
    font-size: 10px;
  }
}
.tariffs__modal-main-form-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  padding: 0;
  border: none;
}
.tariffs__modal-main-form-promo-input {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  padding: 9px 12px;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #000000;
  border: 1px dashed #8dd1ff;
  border-radius: 5px 0 0 5px;
  outline-color: #8dd1ff;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-promo-input {
    padding: 7px 8px;
    font-size: 10px;
  }
}
.tariffs__modal-main-form-promo-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 7px 35px;
  font-family: "Formular", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  border: 1px solid #0077be;
  border-radius: 0 5px 5px 0;
  background-color: #0077be;
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-promo-button {
    padding: 6px 16px;
    font-size: 14px;
  }
}
.tariffs__modal-main-form-promo-button:hover {
  background-color: #009ffe;
}
.tariffs__modal-main-form-promo-button:disabled {
  border: 1px solid #8dd1ff;
  background-color: #8dd1ff;
}
.tariffs__modal-main-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 0 8px;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-agreement {
    gap: 10px;
  }
}
.tariffs__modal-main-form-agreement-text {
  display: inline-block;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 131%;
  letter-spacing: -0.02em;
  color: #000;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-agreement-text {
    font-size: 9px;
  }
}
.tariffs__modal-main-form-agreement-text a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #4c7bd1;
}
.tariffs__modal-main-form-agreement-input {
  width: 12px;
  margin: 0;
  border-color: #c9c9c9;
  outline-color: #8dd1ff;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-agreement-input {
    width: 11px;
  }
}
.tariffs__modal-main-form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-submit {
    padding-top: 13px;
  }
}
.tariffs__modal-main-form-submit-button {
  display: inline-block;
  max-width: 287px;
  width: 100%;
  padding: 16px 32px;
  font-family: "Formular", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 19px;
  background-color: #0077be;
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .tariffs__modal-main-form-submit-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 11px 32px;
    font-size: 15px;
    border-radius: 12px;
  }
}
.tariffs__modal-main-form-submit-button:hover {
  background-color: #009ffe;
}

.tariffs-advantages {
  padding: 54px 0 80px;
  background-color: #f6faff;
}
@media (max-width: 992px) {
  .tariffs-advantages {
    padding: 40px 0;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages {
    padding: 24px 0 32px;
    background-color: #ddecff;
  }
}
.tariffs-advantages .container-m {
  position: relative;
}
.tariffs-advantages__title {
  position: relative;
  z-index: 10;
  margin: 0 0 40px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 51px;
  letter-spacing: -0.02em;
  color: #000;
}
@media (max-width: 992px) {
  .tariffs-advantages__title {
    margin-bottom: 32px;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .tariffs-advantages__title {
    margin-bottom: 28px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages__title {
    position: relative;
    margin: 0 0 38px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages__title::before {
    content: "";
    position: absolute;
    right: -17px;
    bottom: -42px;
    z-index: -1;
    display: block;
    width: 138px;
    height: 146px;
    background: url(../assets/tariffs-advantages-image-mobile.png) center/cover no-repeat;
  }
}
.tariffs-advantages__list {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 24px;
  max-width: 927px;
}
@media (max-width: 576px) {
  .tariffs-advantages__list {
    gap: 9px;
  }
}
.tariffs-advantages__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  padding: 24px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .tariffs-advantages__list-item {
    gap: 12px;
    padding: 20px 16px;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages__list-item {
    padding: 13px 11px;
    border-radius: 11px;
  }
}
.tariffs-advantages__list-item:nth-child(odd) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}
@media (max-width: 768px) {
  .tariffs-advantages__list-item:nth-child(odd) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.tariffs-advantages__list-item:nth-child(even) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(45% - 24px);
          flex: 0 0 calc(45% - 24px);
}
@media (max-width: 768px) {
  .tariffs-advantages__list-item:nth-child(even) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.tariffs-advantages__list-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67px;
          flex: 0 0 67px;
  margin: 0;
}
@media (max-width: 992px) {
  .tariffs-advantages__list-item-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages__list-item-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36px;
            flex: 0 0 36px;
  }
}
.tariffs-advantages__list-item-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.tariffs-advantages__list-item-content-title {
  margin: 0 0 8px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #133573;
}
@media (max-width: 992px) {
  .tariffs-advantages__list-item-content-title {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages__list-item-content-title {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
.tariffs-advantages__list-item-content-text {
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #242424;
}
@media (max-width: 992px) {
  .tariffs-advantages__list-item-content-text {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages__list-item-content-text {
    font-size: 10px;
  }
}
.tariffs-advantages__list-item-content-text b {
  font-weight: 700;
}
.tariffs-advantages__figure {
  position: absolute;
  top: 40px;
  left: 947px;
  z-index: 1;
  margin: 0;
  width: 894px;
  aspect-ratio: 894/710;
}
@media (max-width: 1400px) {
  .tariffs-advantages__figure {
    left: 720px;
  }
}
@media (max-width: 992px) {
  .tariffs-advantages__figure {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 40px 0 0;
  }
}
@media (max-width: 576px) {
  .tariffs-advantages__figure {
    display: none;
  }
}
.tariffs-advantages__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.tariffs-activation {
  padding: 88px 0 133px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .tariffs-activation {
    padding: 26px 0 40px;
  }
}
.tariffs-activation .container-m {
  max-width: 1406px;
}
.tariffs-activation__wrapper {
  padding: 42px 82px 64px;
  border-radius: 28px;
  -webkit-box-shadow: 1px 6px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 1px 6px 20px 0 rgba(0, 0, 0, 0.25);
  background-color: #f8f9fa;
}
@media (max-width: 1400px) {
  .tariffs-activation__wrapper {
    padding: 42px 60px 64px;
  }
}
@media (max-width: 992px) {
  .tariffs-activation__wrapper {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .tariffs-activation__wrapper {
    padding: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: inherit;
  }
}
.tariffs-activation__title {
  position: relative;
  z-index: 10;
  max-width: 726px;
  margin: 0 auto 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 51px;
  letter-spacing: -0.02em;
  color: #000;
  text-align: center;
}
@media (max-width: 992px) {
  .tariffs-activation__title {
    margin-bottom: 32px;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .tariffs-activation__title {
    margin-bottom: 28px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .tariffs-activation__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.tariffs-activation__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 992px) {
  .tariffs-activation__steps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
}
.tariffs-activation__steps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 16px);
          flex: 0 0 calc(33.3333333333% - 16px);
  max-width: 340px;
  padding: 25px 24px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #8dd1ff;
  border-radius: 35px;
  background-color: #fff;
}
@media (max-width: 1400px) {
  .tariffs-activation__steps-item {
    padding: 20px 20px 0;
  }
}
@media (max-width: 992px) {
  .tariffs-activation__steps-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
    max-width: none;
  }
}
@media (max-width: 576px) {
  .tariffs-activation__steps-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 20px 20px 0;
  }
}
.tariffs-activation__steps-item-title {
  margin: 0 0 20px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #133779;
}
@media (max-width: 992px) {
  .tariffs-activation__steps-item-title {
    margin-bottom: 16px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .tariffs-activation__steps-item-title {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.tariffs-activation__steps-item-text {
  margin: 0 0 12px;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #242424;
}
@media (max-width: 992px) {
  .tariffs-activation__steps-item-text {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .tariffs-activation__steps-item-text {
    font-size: 13px;
    padding: 0 10px;
  }
}
.tariffs-activation__steps-item-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
}
.tariffs-activation__steps-item-figure-image {
  display: block;
  max-width: 100%;
  width: 234px;
}

.tariffs-app {
  background-color: #0e2758;
}
.tariffs-app__top {
  padding: 72px 0 59px;
}
@media (max-width: 992px) {
  .tariffs-app__top {
    padding: 40px 0;
  }
}
@media (max-width: 576px) {
  .tariffs-app__top {
    padding: 32px 0 0;
  }
}
.tariffs-app__top-title {
  max-width: 600px;
  margin: 0 0 45px;
  font-family: "Formular", sans-serif;
  font-weight: 900;
  font-size: 73px;
  line-height: 108%;
  color: #fff;
}
@media (max-width: 992px) {
  .tariffs-app__top-title {
    max-width: none;
    margin-bottom: 36px;
    font-size: 56px;
  }
}
@media (max-width: 576px) {
  .tariffs-app__top-title {
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
  }
}
.tariffs-app__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 564px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .tariffs-app__top-list {
    gap: 12px;
  }
}
@media (max-width: 576px) {
  .tariffs-app__top-list {
    gap: 32px;
    margin-bottom: 28px;
  }
}
.tariffs-app__top-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 108%;
  color: #fff;
}
@media (max-width: 992px) {
  .tariffs-app__top-list-item {
    gap: 16px;
    font-size: 24px;
    line-height: 125%;
  }
}
@media (max-width: 576px) {
  .tariffs-app__top-list-item {
    font-size: 16px;
  }
}
.tariffs-app__top-list-item::before {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 35px;
  aspect-ratio: 1/1;
  background: url(../assets/check-icon.svg) center/cover no-repeat;
}
@media (max-width: 992px) {
  .tariffs-app__top-list-item::before {
    width: 30px;
  }
}
@media (max-width: 576px) {
  .tariffs-app__top-list-item::before {
    width: 24px;
  }
}
.tariffs-app__top-social {
  display: none;
}
@media (max-width: 576px) {
  .tariffs-app__top-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    margin: 0 -20px;
    padding: 0 20px 42px;
    background: url(../assets/tariffs-app-disk.svg) top left 20px/477px no-repeat;
  }
}
.tariffs-app__top-social-phone {
  margin: 0;
  margin-left: -10px;
}
.tariffs-app__top-social-phone-image {
  display: block;
  max-width: 100%;
  width: 232px;
  height: auto;
}
.tariffs-app__top-social-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 9px;
}
.tariffs-app__top-social-info-title {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 4px;
  font-family: "Formular", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.tariffs-app__top-social-info-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.tariffs-app__bottom {
  background-color: #4c7bd1;
}
@media (max-width: 576px) {
  .tariffs-app__bottom {
    display: none;
  }
}
.tariffs-app__bottom-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 69px 0 59px;
}
@media (max-width: 992px) {
  .tariffs-app__bottom-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 0;
  }
}
.tariffs-app__bottom-qr {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 134px;
  padding: 11px 16px 16px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 14px;
}
@media (max-width: 992px) {
  .tariffs-app__bottom-qr {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.tariffs-app__bottom-qr-title {
  margin: 0 0 10px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 108%;
  color: #fff;
}
.tariffs-app__bottom-qr-image {
  display: block;
  max-width: 100%;
  width: 82px;
  height: auto;
}
.tariffs-app__bottom-title {
  position: relative;
  z-index: 10;
  max-width: 200px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Formular", sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: #fff;
}
@media (max-width: 992px) {
  .tariffs-app__bottom-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: none;
    margin: 0 0 16px;
    padding: 0;
    text-align: center;
  }
}
.tariffs-app__bottom-figure {
  position: absolute;
  left: 746px;
  bottom: -120px;
  z-index: 1;
  width: 1162px;
  height: 1016px;
  margin: 0;
}
@media (max-width: 1400px) {
  .tariffs-app__bottom-figure {
    left: 640px;
  }
}
@media (max-width: 992px) {
  .tariffs-app__bottom-figure {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 16px 0 0;
    width: 100%;
    height: auto;
  }
}
.tariffs-app__bottom-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .tariffs-app__bottom-figure-image {
    width: 480px;
  }
}

.tariffs-faq {
  padding: 103px 0 40px;
  background-color: #f3f3f4;
}
@media (max-width: 992px) {
  .tariffs-faq {
    padding: 40px 0;
  }
}
@media (max-width: 576px) {
  .tariffs-faq {
    padding: 31px 0 20px;
  }
}
.tariffs-faq__title {
  position: relative;
  z-index: 10;
  margin: 0 0 40px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 51px;
  letter-spacing: -0.02em;
  color: #000;
}
@media (max-width: 992px) {
  .tariffs-faq__title {
    margin-bottom: 32px;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .tariffs-faq__title {
    margin-bottom: 28px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .tariffs-faq__title {
    margin-bottom: 34px;
    font-size: 18px;
  }
}
.tariffs-faq__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.tariffs-faq__item {
  padding: 27px 32px;
  border-radius: 14px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .tariffs-faq__item {
    padding: 20px 24px;
  }
}
@media (max-width: 576px) {
  .tariffs-faq__item {
    padding: 16px;
    border-radius: 10px;
  }
}
.tariffs-faq__item.hidden {
  display: none;
}
.tariffs-faq__item-question {
  margin: 0 0 8px;
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 131%;
  letter-spacing: -0.02em;
  color: #000;
}
@media (max-width: 992px) {
  .tariffs-faq__item-question {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .tariffs-faq__item-question {
    font-size: 14px;
  }
}
.tariffs-faq__item-answer {
  max-width: 958px;
  margin: 0;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 131%;
  letter-spacing: -0.02em;
  color: #0e2758;
}
@media (max-width: 992px) {
  .tariffs-faq__item-answer {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .tariffs-faq__item-answer {
    font-size: 14px;
    color: rgba(67, 67, 67, 0.66);
  }
}
.tariffs-faq__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0;
}
@media (max-width: 992px) {
  .tariffs-faq__more {
    margin-top: 32px;
  }
}
@media (max-width: 576px) {
  .tariffs-faq__more {
    margin-top: 16px;
  }
}
.tariffs-faq__more.hidden {
  display: none;
}
.tariffs-faq__more-button {
  display: inline-block;
  padding: 22px 55px;
  font-family: "Formular", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: #0077be;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .tariffs-faq__more-button {
    padding: 14px 40px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .tariffs-faq__more-button {
    padding: 10px 27px 11px;
    font-size: 11px;
  }
}
.tariffs-faq__more-button:hover {
  background-color: #009ffe;
}
.tariffs-faq__more-button:active {
  background-color: #0077be;
}